.toolbarbutton {
    -fx-background-color: transparent;
}

.toolbarbutton:hover {
    -fx-color: -fx-pressed-base;
    -fx-background-color: -fx-body-color;
}

.toolbartogglebutton {
    -fx-background-color: transparent;
}

.toolbartogglebutton:hover {
    -fx-color: -fx-pressed-base;
    -fx-background-color: -fx-body-color;
}

.toolbartogglebutton:selected {
    -fx-background-color:
            linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
            linear-gradient(to bottom,
            derive(-fx-text-box-border, -10%) 0%,
            derive(-fx-text-box-border, -2%) 20%,
            derive(-fx-text-box-border, 5%) 50%);
    -fx-background-insets: 0, 1;
}


.extensionspane {
    -fx-padding: 5 10 2 10;
}

.extensionspane-buttonshbox {
    -fx-spacing: 5;
}

.buttonbar {
    -fx-padding: 3 10 7 10;
}

.propertiespreview-grid {
    -fx-padding: 0;
    -fx-hgap: 10;
    -fx-vgap: 2;
}

.propertiespreview-vbox {
    -fx-spacing: 5;
    -fx-background-color:
            linear-gradient(from 0px 0px to 0px 4px, derive(-fx-control-inner-background, -8%), -fx-control-inner-background);
}

.propertiespreview-label {
    -fx-font-weight: normal;
}

.propertiespreview-valuelabel {
    -fx-font-weight: bolder;
}

.propertiespreview-namevaluelabel {
    -fx-font-weight: bolder;
    -fx-font-size: 1.166667em; /* 14pt - 2 more than the default font */
}

.tree-cell {
    -fx-padding: 1 0 1 0;
    -fx-indent: 2;
}

.places-droptarget {
    -fx-background-color: #FFFF66;
}


